@page "/"
@using System.Net.WebSockets
@using System.Threading
@using Barchart.BinarySerializer.Schemas
@using Barchart.SerializationData;

@implements IDisposable

<h1>Websocket serialization example</h1>
<h3>State: @webSocket.State</h3>

@if (webSocket.State == WebSocketState.Open)
{
    <h4>Bytes sent:</h4>
    <h6>@bytes</h6>
    <h4>MarketData:</h4>
    <div>
        @foreach (var property in typeof(MarketData).GetProperties())
        {
            <div>
                <h5>@property.Name:</h5>
                <p>@property.GetValue(marketData)</p>
            </div>
        }
    </div>
}

@code {
    CancellationTokenSource disposalTokenSource = new CancellationTokenSource();
    ClientWebSocket webSocket = new ClientWebSocket();
    MarketData marketData = new();
    int bytes = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await webSocket.ConnectAsync(new Uri("wss://localhost:7059/ws"), disposalTokenSource.Token);
            StateHasChanged();
            _ = ReceiveLoop();
        }
    }

    async Task ReceiveLoop()
    {
        Schema<MarketData> marketDataSchema = SchemaFactory.GetSchema<MarketData>();

        var buffer = new ArraySegment<byte>(new byte[10000]);
        while (!disposalTokenSource.IsCancellationRequested)
        {
            var received = await webSocket.ReceiveAsync(buffer, disposalTokenSource.Token);
            MarketData deserializedMarketData = marketDataSchema.Deserialize(buffer.ToArray());
            marketData = deserializedMarketData;
            bytes = received.Count;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        disposalTokenSource.Cancel();

        if (webSocket.State == WebSocketState.Open || webSocket.State == WebSocketState.CloseSent)
        {
            _ = webSocket.CloseAsync(WebSocketCloseStatus.NormalClosure, "Bye", CancellationToken.None);
        }
    }
}